<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding-left : 40px;
        }
        .textareas{
            height:  50px;
            width : 90%;
        }
        button{
            border: none;
            border-radius: 10px;
            color: black;
            height: 30px;
            width: 80px;

        }
        #blue{
            background-color: rgb(45, 45, 186); 
        }
        #cancel{
            background-color: grey;
        }
    </style>
</head>
<body>
    
    <div class = "container">
        <h1>New Article</h1>
        <br>
        <h4>Title</h4>
        <textarea class = "textareas"name="" id="" cols="30" rows="10"></textarea>
        <br>
        <h4>Description</h4>
        <textarea class = "textareas"name="" id="" cols="30" rows="10"></textarea>
        <br>
        <h4>MarkDown</h4>
        <textarea class = "textareas" name="" id="" cols="30" rows="10"></textarea>
        <br>
        <button id = "blue">Save</button>
        <button id = "cancel">Cancel</button>
    </div>
</body>
</html>