<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D</title>
    <style>
        * {
            margin: 0px;
            padding-left: 10px;
        }
        .heading {
            background-color: rgb(255, 228, 24);
            padding: 20px;
            height: 23vh;
            width: 100%;
            font-size: 18px;
            padding-bottom: 10px;
            font-weight: bold;
        }
        hr {
            height: 2px;
            width: 40%;
            background-color: #000;
            border: none;
        }
        .h12 {
            padding-top: 50px;
            color: white;
        }
        .button {
            border: none;
            border-radius: 10px;
            color: white;
            height: 30px;
            width: 100px;
        }
        .button>button {
            color: black;
            background-color: rgb(32, 152, 196);
            border: none;
            height: 50px;
            width: 100px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 10%;
        }
        .container {
            height: 20vh;
            width: 98%;
            ;
            border: 1px solid black;
            border-radius: 10px;
        }
        .title {
            padding: 10px 5px 5px 0px;
        }
        .date {
            padding: 5px 5px 5px 0px;
        }
        .desc {
            padding: 5px 5px 5px 0px;
        }
        .buttons {
            border: none;
            border-radius: 10px;

            color: white;

            height: 30px;
            width: 100px;
        }
        .title{
            font-weight: bold;

            font-size: 20px;
        }
        .ReadMore {
            background-color: rgb(26, 26, 226);
        }
        .Delete {
            background-color: red;
            height: 30px;
        }

        .Edit {
            background-color: antiquewhite;
            color: black;
        }
        

        /*MarkDown*/
    </style>
</head>

<body>
    <div class="heading">
        <h1>Medium</h1><br>
        <hr>
        <h1 class="h12">Discover, Story, Articles, and Research work from GLA students</h1>
    </div>
    <br>
    <div class="button">
        <button>Add new Articles</button>
    </div>
    <br>
    <br>
    <div class="container">
        <p class="title">Title</p>
        <p class="date">23/10/2022</p>
        <p class="desc">Description</p>
        <button class="ReadMore buttons">Read More</button>
        <button class="Edit buttons">Edit</button>
        <button class="Delete buttons">Delete</button>
    </div>
    <br>
    <div class="container">
        <p class="title">Title</p>
        <p class="date">23/10/2022</p>
        <p class="desc">Description</p>
        <button class="ReadMore buttons">Read More</button>
        <button class="Edit buttons">Edit</button>
        <button class="Delete buttons">Delete</button>
    </div>
    <br>
    <div class="container">
        <p class="title">Title</p>
        <p class="date">23/10/2022</p>
        <p class="desc">Description</p>
        <button class="ReadMore buttons">Read More</button>
        <button class="Edit buttons">Edit</button>
        <button class="Delete buttons">Delete</button>
    </div>
    <br>        
</body>

</html>